# Generic files to ignore
.DS_Store
.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.generated/

# Build artifacts
build/
*/*.iml
# If you committed build artifacts by mistake, uncomment the next line and run "git rm -r --cached build"
# build/

# Platform-specific files
# Android
android/.gradle/
android/captures/
android/local.properties
/android/key.properties
/android/keystore.jks

# iOS
ios/.symlinks/
ios/Flutter/Generated.xcconfig

# Linux
linux/build/

# macOS
macos/build/
macos/Flutter/Generated.xcconfig

# Windows
windows/build/

# Web (if using web specific tools that generate extra files)
# web/deploy/

# Crashlytics/Fabric
# *.dSYM
# appboy-bridge.zip

# VS Code
.vscode/launch.json

# If you want to ignore the lock file (generally not recommended for apps)
# pubspec.lock